.bibdk-recommender-carousel {
  margin: 0.5rem 0 0;
  padding: 0 1rem;
  font-size: 0.7rem;
}

.bibdk-recommender-carousel-header {}

.bibdk-recommender-carousel-content {
  position: relative
}

.slick-list {}

.bibdk-recommender-carousel .slick-slide {
  height: auto;
  margin: 0.2rem;
}

.bibdk-recommender-carousel .bibdk-recommender-cover-placeholder {
  height: 14rem;
  padding: 0.2rem;
  background-color: #f6f7f8;
  overflow: hidden;
}

.bibdk-recommender-carousel .slick__slide img {
  width: 100%;
}

.bibdk-recommender-carousel .slide__content {
  position: relative;
  min-height: 6.667rem;
}

.bibdk-recommender-carousel .slide__media {
  margin: 0.2rem;
}

.bibdk-recommender-carousel .slide__caption {
  margin: 0.2rem;
}

.bibdk-recommender-carousel .slide__content svg {
  width: 50%;
  height: 6.667rem;
}

/* needs to have a higher weight than .work .svg-icon */
.bibdk-recommender-carousel .slide__content .bibdk-recommender-material-type .svg-icon {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.bibdk-recommender-carousel .slide__content .bibdk-recommender-material-type {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.bibdk-recommender-carousel .slide__content .bibdk-recommender-material-type {
  opacity: 0.2;
}

.bibdk-recommender-carousel .slide__content .bibdk-recommender-biblio {
  display: block;
  font-weight: bolder;
  height: auto;
}

.bibdk-recommender-carousel .slide__content .bibdk-recommender-biblio span {
  display: block;
}

.page-work .bibdk-recommender-carousel .bibdk-recommender-cover-placeholder {
  height: 18rem;
}
