


#bibdk-modal #bibdk-facetbrowser-filter-form  {
    left: 3em;
    padding: 0em 1em 0em 1em;
}


#bibdk-facetbrowser-filter-form h3 {
    font-size: 1.25em;
    font-weight: bold;
}

#bibdk-facetbrowser-filter-form .checkbox-elements-header,
#bibdk-facetbrowser-filter-form .checkbox-elements {
    float: none;
    padding: 0;
    width: auto;
}

#bibdk-facetbrowser-filter-form .checkbox-element {
    clear: both;
    width: 100%;
}

#bibdk-facetbrowser-filter-form .checkbox-element a {
    position: relative;
    top: 5px;
}

#bibdk-facetbrowser-filter-form .checkbox-elements-header p {
    padding-left: 2%;
}

#bibdk-facetbrowser-filter-form .checkbox-elements-header span {
    margin-right: 3%;
}

#bibdk-facetbrowser-filter-form .checkbox-element-label {
    float: left;
    width: 50%;
}

#bibdk-facetbrowser-filter-form .checkbox-element-select,
#bibdk-facetbrowser-filter-form .checkbox-element-deselect {
    float: left;
    width: 10%;
    text-align: center;
}

#bibdk-facetbrowser-filter-form .checkbox-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}

#bibdk-facetbrowser-filter-form .close-reveal-modal,
#bibdk-facetbrowser-filter-form .save-facet-modal {
    font-size: 0.875rem;
    position: inherit;
    float: right;
    width: auto;
    margin-right: 10px;
}

#bibdk-facetbrowser-filter-form fieldset {
    width: 100%;
    position: relative;
    top: -2.5em;
}

.fieldset-wrapper {
    background-color: white;
    width: 100%;
}

#bibdk-facetbrowser-filter-form .fieldset-legend{
    float: left;
    padding:0;
}

#bibdk-facetbrowser-filter-form .filter-form-column-header{
    background-color: red;
    float: right;
    clear: both;
}

#bibdk-facetbrowser-filter-form .checkbox-element {
    border-bottom: 1px solid darkgray;
    height: 2em;
}

#bibdk-facetbrowser-filter-form .facet-modal-close-icon {
    clear: both;
}

#bibdk-facetbrowser-filter-form input[type="checkbox"], input[type="radio"] {
    float: none;
}

